*{
    scroll-behavior: smooth;
}

.NFSMW{
    background-color: rgba(0, 0, 0, 0.486);
    border: 3px solid #ffffff;
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 30px;
    margin: 40px;
    box-shadow: 0 0 40px #ffffff;
}

h1{
    font-family: 'MW';
    text-shadow: 0 0 10px #000000, 0 0 10px #000000, 0 0 10px #000000, 0 0 10px #000000, 0 0 10px #000000, 0 0 30px #000000;
}

body{
    background-image: url("NeedforSpeedMW.jpg");
    background-size: 100%;
    background-attachment: fixed;
}

@font-face {
    font-family: MW;
    src: url(most-wasted/Mostwasted.ttf);
}

h2{
    text-shadow: 0 0 10px #000000, 0 0 10px #000000, 0 0 10px #000000, 0 0 10px #000000, 0 0 10px #000000, 0 0 30px #000000;
}

a{
    text-decoration: none;
    text-shadow: #ffffff;
    padding: 15px;
    border: 2px solid rgba(238, 255, 0, 0);
    background-color: #00000069;
    color: #ffffff;
    box-shadow: 0 0 20px rgba(238, 255, 0, 0);
    font-size: 30px;
    font-family: MW;
    text-shadow: 0 0 10px #000000, 0 0 10px #000000, 0 0 10px #000000, 0 0 10px #000000, 0 0 10px #000000, 0 0 30px #000000;
    margin: 50px;
    
  }

.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 1000px;
    width: 100vw;
}